h1 {
  text-align: center;
  font-size: 2rem;
}

h2 {
  text-align: center;
  font-size: 2.5rem;
}
p {
  text-align: center;
  font-size: 1.5rem;
}

div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button{
  background-color: blue;
  font-size: 2rem;
  border-radius: 20px;
}

input{
  border-radius: 20px;
  padding-block: 10px;
  padding-inline: 10px;
  color: black;
}
