.completada {
  background-color: greenyellow;
  border-radius: 0px 30px 0px 30px;
}

.noCompletada {
  background-color: red;
  border-radius: 0px 30px 0px 30px;
}

.data {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-inline: 30px;
}

.data h2 {
  color: black;
  font-size: 2.2rem;
}
.data p {
  color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
    Verdana, sans-serif;
  font-size: 1.5rem;
}
.data h5 {
  color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
    Verdana, sans-serif;
  font-size: 1.5rem;
}

.buttons button {
  background-color: blue;
  border-radius: 30px;
  font-size: 1.8rem;
}

.dataContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.buttons {
  display: flex;
  margin-right: 30px;
  flex-direction: column;
  justify-content: space-evenly;
}

.Agg {
  background-color: blue;
  font-size: 2rem;
  border-radius: 100%;
  padding-inline: 10px;
}
.agregar {
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin-top: 30px;
  padding-right: 4rem;
}

.inputAgg {
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-right: 4rem;
  justify-content: space-evenly;
}

.inputAgg h2 {
  font-size: 2rem;
}

.inputAgg button {
  background-color: blue;
}
input {
  font-size: 2rem;
  color: black;
}
