nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(12, 59, 189, 0.712);
  border-radius: 0px 0px 90px 90px;
  padding-block: 2.5px;
}
nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2em;
  margin: 9.5px;
  padding-inline: 4rem;
  padding-block: 1rem;
  border-radius: 0px 90px 0px 90px;
}
nav a:hover {
  background-color: rgb(2, 27, 71);
  border-radius: 5px;
  transition: 900ms;
  border-radius: 30px;
}
.navActive {
  color: black;
}

button {
  background-color: rgb(2, 27, 71);
  color: white;
  padding: 10px;
  border-radius: 30px;
  border-color: white;
}
